.content.combo {
    background-image: url('../../assets/combo/aranprime-hiq2DogVd1Q-unsplash.png');
    background-size: cover;
    background-position: 10% 100%;
}

.content.combo main section .vertical #text-vertical {
    font-size: 6rem;
}