.content.xBacon {
    background-image: url('../assets/x-bacon/BACON.png');
    background-size: contain no-repeat;
    background-position: center;
}

.content main section .vertical #text-vertical {
    font-size: 7.4rem;
}